<div class="container-fluid pt-5">
  <h2 class="text-center"><i class="fas fa-user-clock"></i> Konteynır çıkışı<code class="text-success"> Tüm </code> Listeler</h2>
  <div class="row pt-2 pb-4">
    <div class="col">
      <div ngbDropdown class="d-inline-block">
        <button class="btn btn-outline-success shadow" id="dropdownForm1" ngbDropdownToggle>
          <i class="fas fa-sort-numeric-down"></i> {{ selectedSortOrder }}
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownForm1" class="scrollable-menu">
          <button
            *ngFor="
              let account of accountRowNumber$ | async | orderBy: ['+rowNumber'];
              let i = index;
              trackBy: trackElement
            "
            class="dropdown-item"
            (click)="SearchProduct(account.id, account.rowNumber, account.earringsNumber, account.relatedPerson)"
            ngbDropdownItem
          >
            <p>
              <i class="fas fa-sort-amount-down"></i> Sıra No: {{ account.rowNumber
              }}<code class="text-success"> Küpe No: {{ account.earringsNumber }} </code> İlgili Kişi:
              {{ account.relatedPerson }}
            </p>
          </button>
        </div>
      </div>
    </div>
  </div>
  <table class="table table-hover bg-light text-dark shadow-lg p-3 mb-5 rounded" *ngIf="totalPaymentIdTotal">
    <thead>
      <tr>
        <th scope="col"><i class="fas fa-sort-amount-down"></i> Sıra No</th>
        <th scope="col"><i class="fas fa-sort-numeric-down"></i> Küpe No</th>
        <th scope="col"><i class="fas fa-sort-numeric-down"></i> Hisse Adedi</th>
        <th scope="col"><i class="fas fa-sort-alpha-down"></i> İlgili Kişi</th>
        <th scope="col"><i class="fas fa-clock"></i> Randevu Saati</th>
        <th scope="col"><i class="fas fa-handshake"></i> Ödeme Alanı</th>
        <th scope="col"><i class="fas fa-hourglass-half"></i> Kesim Yapıldı</th>
        <th scope="col"><i class="fas fa-stopwatch"></i> Kontenyır Çıkışı Yapıldı</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let account of ProductDetails; let i = index; trackBy: trackByFn" [attr.data-index]="i">
        <th scope="row">{{ account.rowNumber }}</th>
        <td>
          {{ account.earringsNumber }}
        </td>
        <td [ngClass]="account.earringsNumber ? 'bg-success' : ''">{{ account.relatedPerson }}</td>
        <td>{{ account.numberOfShares }}</td>
        <td>{{ account.cuttingTime }}</td>
        <td>{{ account.paymentReceived }}</td>
        <td>{{ account.cutReceived }}</td>
        <td>
          <button
            *ngIf="account.cutReceived"
            type="button"
            class="btn btn-success shadow"
            (click)="openModalTime(content, account.id, account.relatedPerson)"
            [ngClass]="account.containerDelivered ? 'btn-danger' : 'btn-success'"
            [disabled]="account.containerDelivered"
          >
            Konteynır Çıkışı Yapıldı <i class="fas fa-thumbs-up"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="row pt-2 pb-5" *ngIf="isValidForm">
    <div class="col">
      <button
        type="button"
        class="btn btn-success mr-auto btn-lg btn-block shadow-lg p-2"
        (click)="openModalTime(contentTotal, totalPaymentId)"
        [ngClass]="isDisabled ? 'btn-danger' : 'btn-success'"
        [disabled]="isDisabled"
      >
        <i class="fas fa-paper-plane"></i> Genel Konteynır Çıkışı Yapıldı
      </button>
    </div>
  </div>
</div>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{ payName }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Kesim Alım Saati: {{ currentDate }}</p>
  </div>
  <div class="modal-footer">
    <button type="button" ngbAutofocus class="btn btn-danger" (click)="c('Ok click')">İptal Et</button>
    <button type="button" class="btn btn-success" (click)="c(currentTime(currentDate, idName))">Kabul Et <i class="fas fa-thumbs-up"></i>
</button>
  </div>
</ng-template>

<ng-template #contentTotal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Genel Kesim Alım Saati: {{ currentDate }}</p>
  </div>
  <div class="modal-footer">
    <button type="button" ngbAutofocus class="btn btn-danger" (click)="c('Ok click')">İptal Et</button>
    <button type="button" class="btn btn-success" (click)="c(currentTimeTotal(currentDate, idName))">
      Kabul Et <i class="fas fa-thumbs-up"></i>
    </button>
  </div>
</ng-template>
