<div class="container-fluid pt-5">
  <h2 class="text-center">Kurban teslimi<code class="text-success"> tüm </code> listeler</h2>
  <div class="row pt-4 pb-4">
    <div class="col">
      <div ngbDropdown class="d-inline-block">
        <button class="btn btn-outline-success shadow" id="dropdownForm1" ngbDropdownToggle>
          {{ selectedSortOrder }}
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownForm1">
          <button
            *ngFor="
              let account of accountRowNumber$ | async | orderBy: ['+rowNumber'];
              let i = index;
              trackBy: trackElement
            "
            class="dropdown-item"
            (click)="
              SearchProduct(
                account.id,
                account.rowNumber,
                account.earringsNumber,
                account.relatedPerson,
                account.meat,
                account.bone,
                account.animalWeight,
                account.victimDeliveryTotal
              )
            "
            ngbDropdownItem
          >
            Sıra No: {{ account.rowNumber }} Küpe No: {{ account.earringsNumber }} İlgili Kişi:
            {{ account.relatedPerson }}
          </button>
        </div>
      </div>
    </div>
    <div *ngIf="isValidForm">
      <form class="form-inline" [formGroup]="form" ngxsForm="form">
        <input type="hidden" formControlName="id" #id />
        <div class="form-group mb-2">
          <label class="form-control-label mr-2 text-success" for="inputValid">Et</label>
          <input
            type="number"
            formControlName="meat"
            class="form-control"
            id="inputValid"
            #meat
            placeholder="Et ağırlığını giriniz"
          />
        </div>
        <div class="form-group mx-sm-3 mb-2">
          <label class="form-control-label mr-2 text-success" for="inputDanger1">Kemik</label>
          <input
            type="number"
            formControlName="bone"
            class="form-control"
            id="inputDanger1"
            #bone
            placeholder="Kemik ağırlığını giriniz"
          />
        </div>
        <button
          type="button"
          class="btn btn-success btn-lg mb-2 mr-4 shadow"
          (click)="save(meat.value, bone.value)"
          [ngClass]="!this.form.valid ? 'btn-danger' : 'btn-success'"
          [disabled]="!this.form.valid"
        >
          Kaydet
        </button>
      </form>
    </div>
  </div>
  <table class="table table-hover bg-light text-dark shadow-lg p-3 mb-5 rounded">
    <thead>
      <tr>
        <th scope="col">Sıra No</th>
        <th scope="col">Küpe No</th>
        <th scope="col">Hisse Adedi</th>
        <th scope="col">İlgili Kişi</th>
        <th scope="col">Randevu Saati</th>
        <th scope="col">Ödeme Alındı</th>
        <th scope="col">Kesim Yapıldı</th>
        <th scope="col">Kontenyır Çıkışı Yapıldı</th>
        <th scope="col">Hisse Çadırı Yapıldı</th>
        <th scope="col">Canlı Ağırlık</th>
        <th scope="col">Et</th>
        <th scope="col">Kemik</th>
        <th scope="col">Kurban Teslim Edildi</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let account of ProductDetails; let i = index; trackBy: trackByFn" [attr.data-index]="i">
        <th scope="row">{{ account.rowNumber }}</th>
        <td>
          {{ account.earringsNumber }}
        </td>
        <td>{{ account.numberOfShares }}</td>
        <td [ngClass]="account.earringsNumber ? 'bg-success' : ''">{{ account.relatedPerson }}</td>
        <td>{{ account.cuttingTime }}</td>
        <td>{{ account.paymentReceived }}</td>
        <td>{{ account.cutReceived }}</td>
        <td>{{ account.containerDelivered }}</td>
        <td>{{ account.shareTentEntry }}</td>
        <td>{{ account.animalWeight }}</td>
        <td>{{ account.meat }}</td>
        <td>{{ account.bone }}</td>
        <td>
          <button
            *ngIf="account.shareTentEntry"
            type="button"
            class="btn btn-success shadow"
            (click)="openModalTime(content, account.id, account.relatedPerson)"
            [ngClass]="account.victimDelivery ? 'btn-danger' : 'btn-success'"
            [disabled]="account.victimDelivery"
          >
            Kurban Teslim Edildi
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="row pt-2 pb-3" *ngIf="isValidForm">
    <div class="col">
      <ol class="breadcrumb shadow-lg p-3 mb-5 rounded">
        <li *ngIf="animalTotal">Toplam Ağırlık</li>
        <li class="mr-auto mx-auto" *ngIf="animalTotal">{{ animalTotal }}/Kg</li>
        <li class="mr-auto" *ngIf="animalTotalCount">Toplam Oran</li>
        <li class="mr-auto" *ngIf="animalTotalCount">{{ animalTotalCount }}%</li>
      </ol>
    </div>
  </div>
  <div class="row pt-2 pb-5" *ngIf="isValidForm">
    <div class="col">
      <button
        type="button"
        class="btn btn-success mr-auto btn-lg btn-block shadow-lg"
        (click)="openModalTime(contentTotal, totalPaymentId)"
        [ngClass]="isDisabled ? 'btn-danger' : 'btn-success'"
        [disabled]="isDisabled"
      >
        Genel Kurban Teslimi Edildi
      </button>
    </div>
  </div>
</div>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{ payName }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Kesim Alım Saati: {{ currentDate }}</p>
  </div>
  <div class="modal-footer">
    <button type="button" ngbAutofocus class="btn btn-danger" (click)="c('Ok click')">İptal Et</button>
    <button type="button" class="btn btn-success" (click)="c(currentTime(currentDate, idName))">Kabul Et</button>
  </div>
</ng-template>

<ng-template #contentTotal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Genel Kesim Alım Saati: {{ currentDate }}</p>
  </div>
  <div class="modal-footer">
    <button type="button" ngbAutofocus class="btn btn-danger" (click)="c('Ok click')">İptal Et</button>
    <button type="button" class="btn btn-success" (click)="c(currentTimeTotal(currentDate, idName))">
      Kabul Et
    </button>
  </div>
</ng-template>
