<div class="container-fluid pt-5">
  <h2 class="text-center">
    <i class="fas fa-clipboard-list"></i> Genel <code class="text-success">Tüm </code> Listeler
  </h2>
  <div class="row pt-2 pb-4">
    <div class="col">
      <div ngbDropdown class="d-inline-block">
        <button class="btn btn-outline-success shadow" id="dropdownForm1" ngbDropdownToggle>
          <i class="fas fa-sort-numeric-down"></i> {{ selectedSortOrder }}
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownForm1" class="scrollable-menu">
          <button
            *ngFor="
              let account of accountRowNumber$ | async | orderBy: ['+rowNumber'];
              let i = index;
              trackBy: trackElement
            "
            class="dropdown-item"
            (click)="SearchProduct(account.id, account.rowNumber, account.earringsNumber, account.relatedPerson)"
            ngbDropdownItem
          >
            <p>
              <i class="fas fa-sort-amount-down"></i> Sıra No: {{ account.rowNumber
              }}<code class="text-success"> Küpe No: {{ account.earringsNumber }} </code> İlgili Kişi:
              {{ account.relatedPerson }}
            </p>
          </button>
        </div>
      </div>
    </div>
  </div>
  <table class="table table-hover bg-light text-dark shadow-lg p-3 mb-5 rounded">
    <thead>
      <tr>
        <th scope="col"><i class="fas fa-sort-amount-down"></i> Sıra No</th>
        <th scope="col"><i class="fas fa-sort-numeric-down"></i> Küpe No</th>
        <th scope="col"><i class="fas fa-sort-numeric-down"></i> Hisse Adedi</th>
        <th scope="col"><i class="fas fa-sort-alpha-down"></i> İlgili Kişi</th>
        <th scope="col"><i class="fas fa-clock"></i> Randevu Saati</th>
        <th scope="col"><i class="fas fa-funnel-dollar"></i> Hesap Alım Saati</th>
        <th scope="col"><i class="fas fa-hourglass-half"></i> Kurban Kesim Saati</th>
        <th scope="col"><i class="fas fa-stopwatch"></i> Kurban Konteynır Çıkışı Saati</th>
        <th scope="col"><i class="fas fa-history"></i> Hisse Çadırı Giriş Saati</th>
        <th scope="col"><i class="fas fa-hourglass"></i> Hisse Çıkış Saati</th>
        <th scope="col"><i class="fas fa-balance-scale"></i> Canlı Ağırlık</th>
        <th scope="col"><i class="fas fa-drumstick-bite"></i> Et</th>
        <th scope="col" class="th-indent"><i class="fas fa-drumstick-bite"></i> Kemik</th>
        <th scope="col"><i class="fas fa-balance-scale"></i> Toplam Ağırlık</th>
        <th scope="col"><i class="fas fa-percentage"></i> Toplam Oran</th>
      </tr>
    </thead>
    <tbody *ngIf="isValid; else other_content">
      <tr *ngFor="let account of ProductDetails; let i = index; trackBy: trackByFn" [attr.data-index]="i">
        <th scope="row">{{ account.rowNumber }}</th>
        <td>
          {{ account.earringsNumber }}
        </td>
        <td>{{ account.numberOfShares }}</td>
        <td [ngClass]="account.earringsNumber ? 'bg-success' : ''">
          {{ account.relatedPerson }}
        </td>
        <td>{{ account.cuttingTime }}</td>
        <td>{{ account.paymentReceived }}</td>
        <td>{{ account.cutReceived }}</td>
        <td>{{ account.containerDelivered }}</td>
        <td>{{ account.shareTentEntry }}</td>
        <td>{{ account.victimDelivery }}</td>
        <td>{{ account.animalWeight }}/Kg</td>
        <td *ngIf="account.meat">{{ account.meat }}/Kg</td>
        <td *ngIf="account.bone">{{ account.bone }}/Kg</td>
        <td *ngIf="account.meat && account.bone">
          {{ accountAnimalWeightAndCount(account.numberOfShares, account.meat, account.bone) }}/Kg
        </td>
        <td *ngIf="account.animalWeight && account.meat && account.bone">
          {{ accountAnimalWeight(account.animalWeight, account.numberOfShares, account.meat, account.bone) }}%
        </td>
      </tr>
    </tbody>
    <ng-template #other_content>
      <tbody>
        <tr
          *ngFor="let account of account$ | async | orderBy: ['+rowNumber']; let i = index; trackBy: trackByFn"
          [attr.data-index]="i"
        >
          <th scope="row">{{ account.rowNumber }}</th>
          <td>
            {{ account.earringsNumber }}
          </td>
          <td>{{ account.numberOfShares }}</td>
          <td>{{ account.relatedPerson }}</td>
          <td>{{ account.cuttingTime }}</td>
          <td [ngClass]="!account.paymentReceived ? 'bg-danger' : 'bg-success'">{{ account.paymentReceived }}</td>
          <td [ngClass]="!account.cutReceived ? 'bg-danger' : 'bg-success'">{{ account.cutReceived }}</td>
          <td [ngClass]="!account.containerDelivered ? 'bg-danger' : 'bg-success'">
            {{ account.containerDelivered }}
          </td>
          <td [ngClass]="!account.shareTentEntry ? 'bg-danger' : 'bg-success'">{{ account.shareTentEntry }}</td>
          <td [ngClass]="!account.victimDelivery ? 'bg-danger' : 'bg-success'">{{ account.victimDelivery }}</td>
          <td>{{ account.animalWeight }}/Kg</td>
          <td *ngIf="account.meat">{{ account.meat }}/Kg</td>
          <td *ngIf="account.bone">{{ account.bone }}/Kg</td>
          <td *ngIf="account.meat && account.bone">
            {{ accountAnimalWeightAndCount(account.numberOfShares, account.meat, account.bone) }}/Kg
          </td>
          <td *ngIf="account.animalWeight && account.meat && account.bone">
            {{ accountAnimalWeight(account.animalWeight, account.numberOfShares, account.meat, account.bone) }}%
          </td>
        </tr>
      </tbody>
      <div class="p-2 d-flex justify-content-center">
        <ngb-pagination
          *ngIf="accountRowNumber$ | async as account"
          [collectionSize]="account.length"
          [(page)]="page"
          [pageSize]="pageSize"
          [maxSize]="3"
          [rotate]="true"
          [ellipses]="false"
          [boundaryLinks]="true"
        >
        </ngb-pagination>
      </div>
    </ng-template>
  </table>
</div>
