<div class="container-fluid pt-5">
  <h2 class="text-center">Genel <code class="text-success">tüm </code> listeler</h2>
  <div class="row pt-2 pb-4">
    <div class="col">
      <div ngbDropdown class="d-inline-block">
        <button class="btn btn-outline-success shadow" id="dropdownForm1" ngbDropdownToggle>
          {{ selectedSortOrder }}
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownForm1">
          <button
            *ngFor="let account of accountRowNumber$ | async; let i = index; trackBy: trackElement"
            class="dropdown-item"
            (click)="SearchProduct(account.id, account.rowNumber, account.earringsNumber, account.relatedPerson)"
            ngbDropdownItem
          >
            {{ account.earringsNumber }} - {{ account.relatedPerson }}
          </button>
        </div>
      </div>
    </div>
  </div>
  <table class="table table-hover bg-light text-dark shadow-lg p-3 mb-5 rounded">
    <thead>
      <tr>
        <th scope="col">Sıra No</th>
        <th scope="col">Küpe No</th>
        <th scope="col">Hisse Adedi</th>
        <th scope="col">İlgili Kişi</th>
        <th scope="col">Randevu Saati</th>
        <th scope="col">Hesap Alım Saati</th>
        <th scope="col">Kurban Kesim Saati</th>
        <th scope="col">Kurban Konteynır Çıkışı Saati</th>
        <th scope="col">Hisse Çadırı Giriş Saati</th>
        <th scope="col">Hisse Çıkış Saati</th>
      </tr>
    </thead>
    <tbody *ngIf="isValid; else other_content">
      <tr *ngFor="let account of ProductDetails; let i = index; trackBy: trackByFn" [attr.data-index]="i">
        <th scope="row">{{ account.rowNumber }}</th>
        <td>
          {{ account.earringsNumber }}
        </td>
        <td>{{ account.numberOfShares }}</td>
        <td>{{ account.relatedPerson }}</td>
        <td>{{ account.cuttingTime }}</td>
        <td>{{ account.paymentReceived }}</td>
        <td>{{ account.cutReceived }}</td>
        <td>{{ account.containerDelivered }}</td>
        <td>{{ account.shareTentEntry }}</td>
        <td>{{ account.victimDelivery }}</td>
      </tr>
    </tbody>
    <ng-template #other_content>
      <tbody>
        <tr *ngFor="let account of account$ | async; let i = index; trackBy: trackByFn" [attr.data-index]="i">
          <th scope="row">{{ account.rowNumber }}</th>
          <td>
            {{ account.earringsNumber }}
          </td>
          <td>{{ account.numberOfShares }}</td>
          <td>{{ account.relatedPerson }}</td>
          <td>{{ account.cuttingTime }}</td>
          <td [ngClass]="!account.paymentReceived ? 'bg-danger' : 'bg-success'">{{ account.paymentReceived }}</td>
          <td [ngClass]="!account.cutReceived ? 'bg-danger' : 'bg-success'">{{ account.cutReceived }}</td>
          <td [ngClass]="!account.containerDelivered ? 'bg-danger' : 'bg-success'">
            {{ account.containerDelivered }}
          </td>
          <td [ngClass]="!account.shareTentEntry ? 'bg-danger' : 'bg-success'">{{ account.shareTentEntry }}</td>
          <td [ngClass]="!account.victimDelivery ? 'bg-danger' : 'bg-success'">{{ account.victimDelivery }}</td>
        </tr>
      </tbody>
      <div class="p-2 d-flex justify-content-center">
        <ngb-pagination
          *ngIf="accountRowNumber$ | async as account"
          [collectionSize]="account.length"
          [(page)]="page"
          [pageSize]="pageSize"
          [maxSize]="3"
          [rotate]="true"
          [ellipses]="false"
          [boundaryLinks]="true"
        >
        </ngb-pagination>
      </div>
    </ng-template>
  </table>
</div>
